@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family:"Montserrat", serif;
}

html{
    font: 62.5%;
}

p,li{
    font-size: 1rem;
    margin-bottom: 0.5em;
}

ul li a{
    font-size: 1.6rem;
    letter-spacing: 0.15em;
    text-decoration: none;
}
h1,h2,h3{
    margin-bottom: 0.5em;
    font-weight: 500;
}


/* ############# Utility Classes ############*/


.lg-heading{
    font-size: 3.3rem;
}
.md-heading{
    font-size: 2.2rem;
}

.text-bold{
    font-weight: 600;
}

.text.gray{
    color: rgb(100, 97, 97);
}
.text-white{
    color: white;
}


/* ###############  Section styling ###########*/

section{
    width: 768px;
    height: 900px;
    margin: 2rem auto;
    border: 2px solid gray;
    border-radius: 1rem;
    display: flex;
}

/* ########## Left Side Styling ########### */

.left-div {
    border: 2px solid black;
    border-radius: 0.8rem;
    width: 370px;
    height: 100%;
    background-color: #2d2c2c;
    /* border-radius: 20rem; */
}

.img-div{                        /* Image Part */
    border: 3px solid white;
    border-radius: 12rem;
    margin: 1rem auto;
    width: 56%;
    height: 11.5rem;
}
.img-div img{
    width: 100%;
    height: 100%;
    border-radius: 11rem;
}
.about-div{                        /* About Part */
    /* border: 1px solid white; */
    letter-spacing: 0.5px;
    line-height: 1.3em;
    margin: 0% auto;
    color: white;
    width: 90%;
}
.about-div h2{
    font-size: 18px;
    /* border: 0px solid rgb(25, 165, 208);; */
    text-align: center;
    width: 150px;
    margin: auto;
    margin-bottom: 14px;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0px 1px 10px 1px rgb(52, 139, 151);
}
.about-para{
    font-size: 0.9rem;
}
.personal-div{                  /* Personal information Part */
    /* border: 1px solid white; */
    letter-spacing: 0.5px;
    line-height: 1.5em;
    margin: 1.6rem auto 0rem auto;
    color: white;
    width: 90%;
}
.personal-div h2{
    font-size: 18px;
    /* border: 0px solid rgb(25, 165, 208);; */
    text-align: center;
    width: 160px;
    margin: auto;
    margin-bottom: 14px;
    border-radius: 16px;
    padding: 5px;
    box-shadow: 0px 1px 10px 1px rgb(52, 139, 151);
}

.personal-div ul li{
    list-style-position: inside;
    /* border: 2px solid white; */
}
.personal-div li .label{
    /* border: 2px solid green ; */
    margin-left:-3%;
    font-size: 15px;

}
.personal-div li .linkedin-div{
    /* border: 4px solid aqua; */
    margin-left: 13px;
}

.personal-div li a{
    text-decoration: none;
    color: inherit;
}
.personal-div .email-li a{
    font-size: 0.8rem;
    /* border: 2px solid red; */
}
.personal-div .linkedin-li a{
    font-size: 10px;
    font-weight: bold;
    /* border: 2px solid red;    */
}
.email-li:hover,.linkedin-li:hover{
    color: rgb(101, 245, 245);
}



/* ############ Right Side Styling ############### */

.right-div{
    /* border: 2px solid blue; */
    width: 60%;
    background-color: #f7f5f5;
    border-radius: 0.8rem;
}
.name-div{
    position: relative;
    background-color: #2d2c2c;
    width: 100%;
    height: 8rem;
    margin: 2rem 0 0;
    text-align: center;
}

.head-2{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.name-div .head-2::after{
    content: "";
    display: block;
    border: 2px solid white;
    width: 7rem;
    margin: 0.4rem auto;
    border-radius: 0.2rem;
}   

/* ############ Education div Styling ########### */

.information-div{
    /* border: 2px solid red; */
    padding: 1rem 0 0 1.5rem;
}
.information-div .ed-text::after{     /* Education Part */
    content: "";
    display: block;
    border: 1.4px solid black;
    width: 7.7rem;
}   
.information-div .sk-text::after{   /* Skills Part */ /*Separete code of all ::after reason is width of after content*/
    content: "";
    display: block;
    border: 1.4px solid black;
    width: 4rem;
}    
.information-div .ex-text::after{       /* Experience Part */
    content: "";
    display: block;
    border: 1.4px solid black;
    width: 13.2rem;
}   

.btn-div{                               /* Button Part */
    /* border: 2px solid black; */
    margin: 2rem 0 0 0;
    text-align: center;
}
.btn-div #toggle-button{
    display: inline-block;
    background-color: rgb(217, 248, 238);
    width: 5.5rem;
    height: 2.5rem;
    border-radius: 1rem;
}
#toggle-button:hover{
    background-color: rgb(187, 240, 223) ;
}
@media only screen and (min-width:300px) and (max-width:1100px) {
        section{
            height: auto;
        }
        .left-div{
            height: auto;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 96%, 0% 100%);
        }
}   
@media only screen  and (min-width: 300px) and (max-width:900px) {
    .left-div{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0% 100%);
    }
}

@media only screen and (min-width:300px) and (max-width:650px) {
    section{
        min-width: 650px;
    }
}



    




